@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?r545s8') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@layer components {

  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .rli-title {
    @apply font-bold text-[50px] leading-[20px];
  }

  @media (max-width: 1024px) {
    .rli-title {
      @apply text-[52px] leading-[76px];
    }
  }

  @media (max-width: 525px) {
    .rli-title {
      @apply leading-[40px];
    }

    ::-webkit-scrollbar {
      width: 4px !important;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  /* body {
    @apply font-montserrate;
  } */

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(204, 3, 92), rgb(252, 177, 21));
    border-radius: 5px;
  }

  .two-range-slider {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
  }

  .two-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
  }

  .journal-scroll::-webkit-scrollbar {
    width: 14px;
    cursor: pointer;
  }

  .journal-scroll::-webkit-scrollbar-track {
    background-color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #E9E9E9;
  }

  .journal-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #E9E9E9;
    border-radius: 12px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 14px;
  }

  .bs-main-sprite {
    @apply bg-[url('../images/bs-main-sprite.png')] bg-no-repeat;
  }

  .section-title {
    @apply text-[70px] font-normal text-navyBlue text-center px-[15px] leading-[90px] max-lg:text-[32px] max-lg:leading-normal font-dmserif;
  }

  /* * {
    @apply box-border font-montserrate;
  } */

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .bs-single-card {
    @apply grid gap-2.5;
  }

  .bs-single-card img {
    @apply rounded-sm bg-[#F5F5F5];
  }

  .bs-single-card .price-block {
    @apply flex gap-2.5;
  }

  .bs-single-card .price-block .offer-price {
    @apply text-lg font-semibold;
  }

  .bs-single-card .price-block .original-price {
    @apply text-lg font-medium text-[#7D7D7D];
  }

  .bs-single-card .change-card-color {
    @apply flex gap-4 mt-[8px];
  }

  .bs-single-card .change-card-color span {
    @apply rounded-full w-[30px] h-[30px] block cursor-pointer;
  }

  .bs-single-card .change-card-color span.active {
    @apply border-black border-[3px];
  }

  .direction-ltr {
    direction: ltr;
  }

  .direction-rtl {
    direction: rtl;
  }

  .bs-primary-button {
    @apply font-medium rounded-[12px] text-white bg-navyBlue border border-navyBlue px-[30px] py-[15px] max-w-max cursor-pointer;
  }

  .bs-secondary-button {
    @apply font-medium rounded-[12px] bg-white text-navyBlue border border-navyBlue px-[30px] py-[15px] max-w-max cursor-pointer;
  }

  .shimmer {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: skeleton;
    animation-timing-function: linear;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1250px 100%;
  }

  /* Home her carousal */

  .et-slider {
    --nextpos: -264px;
    --center: 15%;
    --centerwidth: 638px;
    --next-width: 392px;
    position: relative;
    /* height: 501px;
  	height: calc(638px / 1.27345309381); */
    padding-bottom: calc(501 / 634 * var(--centerwidth));
  }

  @keyframes prev {
    from {
      width: var(--centerwidth);
      right: var(--center)
    }

    to {
      width: 196px;
      right: calc(100% - 196px);
    }
  }

  @keyframes center {
    from {
      width: var(--next-width);
      right: var(--nextpos);
    }

    to {
      width: var(--centerwidth);
      right: var(--center)
    }
  }

  @keyframes next {
    from {
      width: 196px;
      right: var(--center)
    }

    to {
      width: var(--next-width);
      right: var(--nextpos);
    }
  }

  @keyframes hide {
    from {
      width: 196px;
      height: 154px;
      right: calc(100% - 196px);
    }

    to {
      width: 196px;
      height: 154px;
      right: var(--center);
      visibility: hidden;
    }
  }

  @keyframes blink {
    49% {
      background-color: #3f3f3f;
    }

    50% {
      background-color: transparent;
    }

    99% {
      background-color: transparent;
    }
  }

  .et-slider-section {
    flex: 1;
  }

  .et-slider img {
    position: absolute;
    border-radius: 20px;
    aspect-ratio: 638/501;
  }

  .et-slider img.active {
    top: 50%;
    transform: translateY(-50%);
    animation: center 1.5s both;
  }

  .et-slider img.prev {
    top: 50%;
    transform: translateY(-50%);
    animation: prev 1.5s both;
    z-index: -1;
  }

  .et-slider img.next {
    top: 50%;
    transform: translateY(-50%);
    animation: next 1.5s both;
    z-index: -2;
  }

  .d-none {
    animation: hide 1.5s both;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
  }

  .dot-container {
    display: flex;
    gap: 10px;
    margin-top: auto;
  }

  .dot-container .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid rgb(0, 162, 255);
    background-color: white;
    border-radius: 50%;
  }

  .dot-container .dot.active {
    background-color: rgb(0, 162, 255);
  }

  @media (max-width: 1100px) {
    .wk-gird-wide {
      flex-direction: column;
    }

    .et-slider {
      --nextpos: -264px;
      --center: 15%;
      --centerwidth: 70%;
    }
  }

  @media (max-width: 768px) {
    .et-slider {
      --nextpos: 0%;
      --next-width: 60%;
    }
  }

  @media (max-width: 525px) {
    .et-slider {
      padding-bottom: calc(501 / 634 * 100%);
    }

    .et-slider img.active {
      animation: unset;
      border-radius: 0px !important;
      width: 100%;
    }

    .et-slider img.prev {
      display: none;
    }

    .et-slider img.next {
      display: none;
    }
  }

  @media (max-width:1366px) {
    .et-slider {
      --nextpos: -264px;
      --center: 75px;
      --width: 458px;
      --centerwidth: 512px;
      --next-width: 392px;
    }
  }

  @media (max-width:1100px) {
    .et-slider {
      --nextpos: -264px;
      --center: 170px;
      --width: 638px;
    }
  }

  .label-pending,
  .label-processing,
  .label-closed,
  .label-canceled,
  .label-info,
  .label-completed,
  .label-active {
    max-width: -moz-max-content;
    max-width: max-content;
    border-radius: 35px;
    padding: 6px 38px;
    font-size: 16px;
    font-weight: 600;
  }

  .label-processing {
    background-color: #FAC04F66;
    color: #C3890F;
  }

  table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }

  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }

  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }

  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  .warning {
    display: flex;
    color: white;
    border-radius: 20px 20px 20px 20px;
    background-color: #F39C12;
    padding: 10px;
  }

  .success {
    display: flex;
    color: white;
    border-radius: 20px 20px 20px 20px;
    background-color: #5BA34B;
    padding: 10px;
  }

  .danger {
    display: flex;
    color: white;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(255, 50, 35);
    padding: 10px;
  }

  .cancel {
    display: flex;
    color: #a0a0a0;
    border-radius: 20px 20px 20px 20px;
    background-color: #F5F5F5;
    padding: 10px;
  }

  .info {
    display: flex;
    color: white;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(11, 31, 68);
  }

  .link {
    color: #5388e9;
    text-decoration-line: underline;
  }

  /* Icons style */
  .icon-bedrooms:before {
    content: "\e94d";
  }

  .icon-carports:before {
    content: "\e94e";
  }

  .icon-floor_area:before {
    content: "\e94f";
  }

  .icon-first_floor:before {
    content: "\e950";
  }

  .icon-ground_floor:before {
    content: "\e950";
  }

  .icon-lot_area:before {
    content: "\e951";
  }

  .icon-t_and_b:before {
    content: "\e952";
  }

  .icon-unit_type:before {
    content: "\e953";
  }

  .icon-end_unit:before {
    content: "\e953";
  }

  .icon-finished:before {
    content: "\e90f";
  }

  .icon-parking:before {
    content: "\e940";
  }

  .icon-balcony:before {
    content: "\e92b";
  }

  .icon-contact-us:before {
    content: "\e94a";
  }

  .icon-location:before {
    content: "\e94b";
  }

  .icon-mail-us:before {
    content: "\e94c";
  }

  .icon-dashboard:before {
    content: "\e943";
  }

  .icon-Documents:before {
    content: "\e944";
  }

  .icon-enquiries:before {
    content: "\e945";
  }

  .icon-help-seminar:before {
    content: "\e946";
  }

  .icon-News-and-updates:before {
    content: "\e947";
  }

  .icon-profile:before {
    content: "\e948";
  }

  .icon-transactions:before {
    content: "\e949";
  }

  .icon-add-new:before {
    content: "\e900";
  }

  .icon-arrow-down:before {
    content: "\e901";
  }

  .icon-arrow-left-stylish:before {
    content: "\e902";
  }

  .icon-arrow-left:before {
    content: "\e903";
  }

  .icon-arrow-right-stylish:before {
    content: "\e904";
  }

  .icon-arrow-right:before {
    content: "\e905";
  }

  .icon-arrow-up:before {
    content: "\e906";
  }

  .icon-astreisk:before {
    content: "\e907";
  }

  .icon-bin:before {
    content: "\e908";
  }

  .icon-box-fill:before {
    content: "\e909";
  }

  .icon-calendar:before {
    content: "\e90a";
  }

  .icon-camera-fill:before {
    content: "\e90b";
  }

  .icon-camera:before {
    content: "\e90c";
  }

  .icon-cancel:before {
    content: "\e90d";
  }

  .icon-cart:before {
    content: "\e90e";
  }

  .icon-check-box:before {
    content: "\e90f";
  }

  .icon-compare-1:before {
    content: "\e910";
  }

  .icon-compare:before {
    content: "\e911";
  }

  .icon-dislike:before {
    content: "\e912";
  }

  .icon-dollar-sign:before {
    content: "\e913";
  }

  .icon-double-arrow:before {
    content: "\e914";
  }

  .icon-download:before {
    content: "\e915";
  }

  .icon-email:before {
    content: "\e916";
  }

  .icon-error:before {
    content: "\e917";
  }

  .icon-eye:before {
    content: "\e918";
  }

  .icon-filter-1:before {
    content: "\e919";
  }

  .icon-filter-fill:before {
    content: "\e91a";
  }

  .icon-filter:before {
    content: "\e91b";
  }

  .icon-flate-rate:before {
    content: "\e91c";
  }

  .icon-Free-Shipping:before {
    content: "\e91d";
  }

  .icon-grid-view-fill:before {
    content: "\e91e";
  }

  .icon-grid-view:before {
    content: "\e91f";
  }

  .icon-hamburger:before {
    content: "\e920";
  }

  .icon-heart-1:before {
    content: "\e921";
  }

  .icon-heart-2:before {
    content: "\e922";
  }

  .icon-heart-fill:before {
    content: "\e923";
  }

  .icon-heart:before {
    content: "\e924";
  }

  .icon-left-arrow:before {
    content: "\e925";
  }

  .icon-like:before {
    content: "\e926";
  }

  .icon-listing-1:before {
    content: "\e927";
  }

  .icon-listing:before {
    content: "\e928";
  }

  .icon-minus:before {
    content: "\e92a";
  }

  .icon-more:before {
    content: "\e92b";
    color: #7d7d7d;
  }

  .icon-orders:before {
    content: "\e92c";
  }

  .icon-pen:before {
    content: "\e92d";
  }

  .icon-plus:before {
    content: "\e92e";
  }

  .icon-product:before {
    content: "\e92f";
  }

  .icon-radio-select:before {
    content: "\e930";
  }

  .icon-radio-unselect:before {
    content: "\e931";
  }

  .icon-right-arrow:before {
    content: "\e932";
  }

  .icon-search:before {
    content: "\e933";
  }

  .icon-share:before {
    content: "\e934";
  }

  .icon-sort-1:before {
    content: "\e935";
  }

  .icon-sort-by:before {
    content: "\e936";
  }

  .icon-sort:before {
    content: "\e937";
    color: #7d7d7d;
  }

  .icon-star-fill:before {
    content: "\e938";
    color: #ffb600;
  }

  .icon-star:before {
    content: "\e939";
  }

  .icon-support:before {
    content: "\e93a";
  }

  .icon-tick:before {
    content: "\e93b";
  }

  .icon-toast-done:before {
    content: "\e93c";
  }

  .icon-toast-error:before {
    content: "\e93d";
  }

  .icon-toast-exclamation-mark:before {
    content: "\e93e";
  }

  .icon-toast-info:before {
    content: "\e93f";
  }

  .icon-truck:before {
    content: "\e940";
  }

  .icon-uncheck:before {
    content: "\e941";
  }

  .icon-users:before {
    content: "\e942";
  }
}
